* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vh;
    height: 100vh;
}
.SUTDpic{
    background-position: center;
    background-image: url("/image/sutdpicture.jpg");
    width: 100vh;
    height: 20vh;
}

.Text{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vh;
    background: linear-gradient(rgb(75, 161, 231), rgb(32, 44, 114));
    font-family: sans-serif;
    align-items: center;
    color: white
}

.Intro{
font-size: larger;
}

form#login-field {
    position: fixed;
    top: 45%;
    line-height: 1.2;
}

.loginButton {
    margin-top: 5%;
    position: absolute;
    left: 30%;
}

