*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100vh;
    height: 100vh;
    background:linear-gradient(rgb(150,30,30), rgb(200,100,100));
}

.header{
    font-size: x-large;
    align-self: center;
    justify-content: center;
    margin-left: 65%;
}